@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Archivo", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-gdt {
  background: linear-gradient(45deg, purple, aqua);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* Nirob */
}
