@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Archivo", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-gdt {
  background: linear-gradient(45deg, purple, aqua);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* Nirob */
}
input[type=file] {
  max-width: 100%;
  padding: 5px;
  background: #fff;
  border-radius: 8px;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #1891C8;
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}